/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$red: #e30613;


body        { font-family:Arial; background-color: #f5d36e; font-size: 16px; }

.clear  { clear: both; line-height: 0; font-size: 0; }
.txtLnk { color: #fff; background: url(../images/link.png) right no-repeat; padding-right: 15px; text-decoration: none; font-weight: bold; }
.txtLnk:hover { text-decoration: underline; }
.error { color:$red; }
img { border: none; }
h1 { font-size:30px; line-height:40px; color:white; }
a.lightbox { text-decoration:none; }

#home { background-color: #eeb200;

    .logoBgr  {
      background: url(../images/logo_start_a.png) center center no-repeat;
      position: absolute;
      top: 15%;
      width: 100%;
      height: 407px;
      filter:alpha(opacity=50); /* IE */
      opacity:0.5; /* allgemein */
    }
    .logoBgr2 {
      background: url(../images/logo_start_b.png) center center no-repeat;
      position: absolute;
      top: 15%;
      width: 100%;
      height: 407px;
      filter:alpha(opacity=50); /* IE */
      opacity:0.5; /* allgemein */
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; 
    }
    .logoBgr2:hover {
      filter:alpha(opacity=80); /* IE */
      opacity:0.8; /* allgemein */
    }
    
    .headerBgr  { position: fixed; bottom: 0; width: 100%; background-color: #69674f; height: 60px; }
    
    .borderBottom { position: fixed; bottom: 0; width: 100%; }
    .borderBottom .border { border-bottom: 1px solid #fff; border-right: 1px solid #fff; margin: 0 24px 24px 0; height: 12px;
      -moz-border-radius-bottomright: 12px;
      border-bottom-right-radius: 12px; 
    }
    .borderRight  { position: fixed; right: 0; height: 100%; }
    .borderRight .border  { border-left: 1px solid #fff; height: 100%; position: relative; top: -36px; width: 24px; }
    
    .menu   { position: fixed; bottom: 0; right: 0; width: 100%; text-align: right; padding: 12px 48px 36px 0; }
    .menu a { color: #2a2725; text-decoration: none; font-size: 12px; font-size: 12px; margin-left: 12px; }
    .menu a:hover { text-decoration: underline; }
    
    .claim  { position: fixed; bottom: 0; width: 100%; }
    .claim .text  { color: #fff; padding: 0 48px 12px 0; text-align: right; }
    .claim .border  {
      border-left: 1px solid #fff; border-top: 1px solid #fff; height: 156px; margin-left: 120px;
      -moz-border-radius-topleft: 12px;
      border-top-left-radius: 12px;
      #imgLogoHome  { position: absolute; right: 48px; bottom: 51px; }
    }
}

#std .borderBottom  { position: fixed; bottom: 0; left: 0; width: 100%; }
#std .borderBottom .border  { border-bottom: 1px solid #fff; border-left: 1px solid #fff; margin: 0 0 24px 156px; height: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-left-radius: 12px; 
}
#std .borderLeft  { position: fixed; left: 0; top: 0; height: 100%; }
#std .borderLeft .border  { border-right: 1px solid #fff; height: 100%; position: relative; top: -36px; width: 156px; }


#header     { position: relative; margin:0 48px 0 0; height:115px; border-bottom:1px solid #fff; border-right:1px solid #fff;
    @include border-radius(0 0 12px 0);

    #imgLogo    { position: absolute; bottom: 31px; right: 24px; z-index: 1; }
    #mainnavi   { position:absolute; bottom:0; right:0px; width: 100%; background: #676653; @include border-radius(0 0 12px 0); height:40px;
        h1 { position:absolute; left:180px; top:0; }
        ul  { position:absolute; right:25px; top:10px;
            li  { display:inline; margin-left:12px; }
            li a, li a:visited  { color: #fff; text-decoration: none; }
        }
    }
    .sessionData { position:absolute; right:20px; top:20px; }
}

.button {
  border:black solid 1px;
  padding:7px 10px;
  position:relative;
  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Firefox */
  -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* Safari, Chrome */
  box-shadow:5px 5px 5px rgba(0,0,0,0.5); /* W3C Standard, Opera, Firefox4, IE9 */
  text-decoration:none;
  color:black;
}
.buttonHi   {
  border:black solid 1px;
  padding:7px 10px;
  position:relative;
  top:2px;
  left:2px;
  -moz-box-shadow:3px 3px 3px rgba(0,0,0,0.5); /* Firefox */
  -webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.5); /* Safari, Chrome */
  box-shadow:3px 3px 3px rgba(0,0,0,0.5); /* W3C Standard, Opera, Firefox4, IE9 */
  font-weight:bold;
  text-decoration:none;
  color:black;
  text-shadow:  3px 3px 0 #ccc,
          -3px -3px 3px #ddd,
          0 0 3px #aaa;
}
input[type=submit]:hover,
input[type=reset]:hover,
.button:hover,
.buttonHi:hover{
  top:3px;
  left:3px;
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.5); /* Firefox */
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.5); /* Safari, Chrome */
  box-shadow:2px 2px 2px rgba(0,0,0,0.5); /* W3C Standard, Opera, Firefox4, IE9 */
}
.buttonList   { padding-left: 0; }
.buttonList li  { display:inline; margin-right: 12px; }
#content    { width:720px; margin:12px 0 60px 180px; position:relative;
    .subnavi { position:absolute; left:-160px; top:0; z-index:1;
        a { color:white; text-decoration:none; font-weight:bold; display:block; padding:5px 0;
            &:hover { text-decoration:underline; }
        }
    }
}


.bikeListElement  { width: 510px; border: #fff solid 1px; padding: 12px; margin-bottom: 17px; -moz-border-radius: 12px; border-radius: 12px; background: #eeb200; position: relative;
    .thumb { float: left; margin-right: 10px; width: 200px;
        img { border-radius:12px; width:200px; }
    }
    .cnt { float: left; margin-right: 10px; }
    .links { clear:both; }
}

.detailImage  {
  margin:20px 20px 0 0;
}
.contentFooter    { margin-top: 30px; }
fieldset legend { margin-top: 12px; }

.fahrradSingle { width: 510px; border-radius: 12px; background: #eeb200; padding: 12px;
    h1 { margin: 0 0 10px; }
    img { border-radius:12px; margin: 7px 15px 7px 0; }
}

#std form {
    .formField { margin-bottom:10px;
        p.error { display:none; padding-bottom:5px; }
        &.error { color:$red;
            p.error { display:block; }
        }
        label { width:200px; display:inline-block; }
        
        
    }
    input[type=text],input[type=submit],input[type=password],input[type=button] { width:200px; @include border-radius(15px); border-width:0; padding:5px 10px; }
    input.submit { margin-left:200px; width:220px; background:$red; color:white; }
}

#std form.search { padding:20px 0;
    .submit { margin-left:20px; width:auto; }
}
