{% extends "base.html" %}

{% block content %}
    <div class="contact">
        <div class="address">
            Anbieter:<br>
            {{ kontakt.getPostcode }} {{ kontakt.getCity }}
        </div>
        <form method="post">
            <input type="hidden" name="uid" value="{{ fahrrad.getUid }}" />
            <input type="hidden" name="pid" value="{{ kontakt.getUid }}" />
            <div class="formField textarea{{ nachrichtErr }}">
                <p class="error">Bitte geben Sie Ihre Nachricht ein</p>
                <label>Ihre Nachricht an den Anbieter:</label>
                <textarea name="nachricht">{{ nachricht }}</textarea>
                <div class="clear"></div>
            </div>
            <div class="formField{{ nameErr }}">
                <p class="error">Bitte geben Sie Ihren Namen ein</p>
                <label>Ihr Name</label>
                <input type="text" name="name" value="{{ name }}" />
            </div>
            <div class="formField{{ emailErr }}">
                <p class="error">Bitte geben Sie Ihre E-Mail-Adresse ein</p>
                <label>Ihre E-Mail-Adresse</label>
                <input type="text" name="email" value="{{ email }}" />
            </div>
            <div class="formField">
                <label>Bitte schicken Sie eine Kopie dieser Nachricht an meine E-Mail-Adresse</label>
                <input type="checkbox" name="cc"{% if cc %} checked="checked"{% endif %} />
            </div>
            <div class="formField">
                <input class="submit" type="submit" value="Senden" />
            </div>
        </form>
    </div>
{% endblock %}