<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="resources/stylesheets/screen.css" type="text/css" rel="stylesheet">
<link href="resources/stylesheets/print.css" type="text/css" rel="stylesheet" media="print">
<link href="resources/stylesheets/jquery.lightbox-0.5.css" type="text/css" rel="stylesheet">
<script src="resources/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="resources/js/jquery.lightbox-0.5.pack.js" type="text/javascript"></script>
<script src="resources/js/script.js" type="text/javascript"></script>
<title>2radspion</title>
</head>