<body id="home">
    <div class="logoBgr"></div>
    <a href="list.php?filter=allOffers" class="logoBgr2"></a>
    <div class="headerBgr"></div>
    <div class="borderBottom"><div class="border"></div></div>
    <div class="borderRight"><div class="border"></div></div>
    <div class="claim">
        <div class="text">Der online-Markt für neue und gebrauchte Zweiräder / vom Hobby bis zum professionellen Einsatz / von privat oder vom Händler</div>
        <div class="border"><img src="resources/images/logo_folgeseiten.png" id="imgLogoHome" /></div>
    </div>

    <div class="menu">
        <a href="list.php?filter=allOffers" >suchen</a>
        <a href="login.php" >anbieten</a>
        <a href="mailto:admin@2radspion.de" style="margin-left: 10em;">Kontakt</a>
        <a href="datenschutz.php" >Datenschutz</a>
        <a href="agb.php" >AGB</a>
        <a href="#" >Impressum</a>
    </div>

</body>
</html>