{% extends "base.html" %}

{% block content %}
    <h2>Verantwortlich für den Inhalt</h2>

    <p>zweiradspion.de<br>
    Geschäftsführer xxxx<br>
    Straße x<br>
    D-PLZ Ort</p>

    <p>Telefon +49 (0)xxxx<br>
    Telefax +49 (0)xxxx<br>
    <a href="contactToAdmin.php">Kontakt</a></p>

    <p>Ust.-Id.-Nr. DExxxxx<br>
    Amtsgericht xxxxx<br>
    HRB xxxxx</p>

    <p>Design und Programierung: O. Christ</p>

    <h2>Copyright</h2>

    <p>Der Inhalt dieser Website unterliegt dem Schutz des Urheberrechts. Der Inhalt darf nur für den eigenen Bedarf geladen, ausgedruckt und kopiert werden. Jegliche Vervielfältigung, Verbreitung oder öffentliche Wiedergabe, auch von Teilen ist ohne unsere ausdrückliche Einwilligung ist nicht gestattet.</p>


    <h2>Haftungsausschluss</h2>

    <p>Die bereitgestellten Informationen auf den Websites wurden sorgfältig geprüft und werden regelmäßig aktualisiert. Jedoch kann keine Haftung oder Garantie dafür übernommen werden, dass alle Angaben zu jeder Zeit vollständig, richtig und in letzter Aktualität dargestellt sind. Die gilt insbesondere auch für die Inhalte externer Seiten, die über Links auf den auto-hits.de Seiten erreichbar sind. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>


    <h2>Namensrechte</h2>

    <p>Die Nennung der Markennamen dient ausschließlich Identifikationszwecken. Alle Rechte an den in diesen Seiten genannten Marken- und Produktnamen sowie Logos liegen bei deren Eigentümern. Wer mit der Nennung nicht einverstanden ist, möge sich bitte bei uns per Email melden. Der entsprechende Name wird dann umgehend entfernt.</p>
{% endblock %}