{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

{% block content %}
    {% if showForm %}
        <form method="post" id="register">
            <input type="hidden" name="lat" />
            <input type="hidden" name="lng" />
            <div class="formField{{ anbieterErr }}">
                <p class="error">Bitte geben Sie ein ob Sie Privatanbieter oder Händler sind</p>
                <label>Privatanbieter/Händler</label>
                <select name="anbieter">
                    <option value="-1">Bitte wählen</option>
                    <option value="privat"{% if user.getAnbieter == 'privat' %} selected="selected"{% endif %}>Privatanbieter</option>
                    <option value="haendler"{% if user.getAnbieter == 'haendler' %} selected="selected"{% endif %}>Händler</option>
                </select>
            </div>
            <div class="formField radio{{ anredeErr }}">
                <p class="error">Bitte geben Sie Ihre Anrede an</p>
                <label class="desc">Anrede</label>
                <input type="radio" name="anrede" value="frau" {% if user.getAnrede == 'frau' %} checked="checked"{% endif %} />
                <label>Frau</label>
                <input type="radio" name="anrede" value="herr" {% if user.getAnrede == 'herr' %} checked="checked"{% endif %} />
                <label>Herr</label>
            </div>
            <div class="formField{{ nameErr }}">
                <p class="error">Bitte geben Sie Ihren Namen ein</p>
                <label>Name</label><input type="text" name="name" value="{{ user.getName }}" />
            </div>
            <div class="formField{{ vornameErr }}">
                <p class="error">Bitte geben Sie Ihren Vornamen ein</p>
                <label>Vorname</label><input type="text" name="vorname" value="{{ user.getVorname }}" />
            </div>
            <div class="formField{{ firmaErr }}">
                <p class="error">Bitte geben Sie Ihren Firmennamen ein</p>
                <label>Firma</label><input type="text" name="firma" value="{{ user.getFirma }}" />
            </div>
            <div class="formField{{ emailErr }}">
                <p class="error">Bitte geben Sie eine gültige Email Adresse ein</p>
                <label>Email</label><input type="text" name="email" value="{{ user.getEmail }}" />
            </div>
            <div class="formField{{ passwordErr }}">
                <p class="error">Bitte geben Sie ein Passwort ein</p>
                <label>Passwort</label><input type="password" name="password" value="{{ user.getPassword }}" />
            </div>
            <div class="formField{{ password2Err }}">
                <p class="error">Die Passwörter stimmen nicht überein</p>
                <label>Passwort wiederholen</label><input type="password" name="password2" value="{{ user.getPassword2 }}" />
            </div>
            <div class="formField{{ postcodeErr }}">
                <p class="error">Bitte geben Sie eine gültige Postleitzahl Adresse ein</p>
                <label>Postleitzahl</label><input type="text" name="postcode" value="{{ user.getPostcode }}" />
            </div>
            <div class="formField checkbox{{ agbErr }}">
                <p class="error">Bitte stimmen Sie den allgemeinen Geschäftsbedingungen zu</p>
                <input type="checkbox" name="agb" value="1"{% if user.getAgb %} checked="checked"{% endif %} />
                <label>Ja, ich stimme den <a href="agbBox.php?height=600&width=600" class="thickbox" title="Allgemeinen Geschäftsbedingungen" target="_blank">Allgemeinen Geschäftsbedingungen</a> von zweiradspion.de zu.</label>
            </div>
            <div class="formField checkbox{{ datenschutzErr }}">
                <p class="error">Bitte stimmen Sie den Datenschutzbedingungen zu</p>
                <input type="checkbox" name="datenschutz" value="1"{% if user.getDatenschutz %} checked="checked"{% endif %} />
                <label>Ja, ich willige in die Nutzung meiner Daten gemäß der <a href="datenschutzBox.php?height=600&width=600" class="thickbox" title="Datenschutz-Erklärung">Datenschutz-Erklärung</a> von zweiradspion.de ein.
                    Diese Einwilligung betrifft u. a. die Verwendung Ihrer Daten für Marketingzwecke (z. B. Zusendung von eMails).
                    Nach Ihrer Anmeldung können Sie die Benachrichtigungseinstellungen jederzeit in ihrem Profil ändern.
                </label>
            </div>
            <div class="formField">
                <input class="submit" type="button" value="Senden" />
            </div>
        </form>
    {% endif %}
{% endblock %}