body    { font-family: Arial; font-size: 12px; line-height:15px; color:#454c52; background: #ccc; margin: 0; }
ul    { list-style: none; padding: 0; margin: 0; }
b, strong    { font-weight: bold; }
.clear  { clear: both; line-height: 0; }

.website    { margin:0 auto; width: 1280px; }

.header { position:relative; }
.header .logo   { position:absolute; left:-20px; top: 20px; background: url(../images/logo.png) no-repeat; width:360px; padding: 50px 0 0 35px; text-decoration: none; }
.header .logo.light { color: white; }
.header .keyvisual  { line-height: 0; }
.header .metanavi   { position:absolute; top: 0px; right: 20px; }
.header .metanavi ul { margin: 0; }
.header .metanavi li    { display: inline; margin-left: 40px; }
.header .metanavi li a  { color: white; text-decoration: none; }
.header .metanavi li.rss a,
.header .metanavi li.facebook a,
.header .metanavi li.youtube a   { width: 33px; height: 33px; display: inline-block; position: relative; top: 20px; }
.header .metanavi li.rss a       { background: url(../images/rss.png) no-repeat; }
.header .metanavi li.facebook    { margin-left: 10px; }
.header .metanavi li.facebook a  { background: url(../images/facebook.png) no-repeat; }
.header .metanavi li.youtube     { margin-left: 10px; }
.header .metanavi li.youtube a   { background: url(../images/youtube.png) no-repeat; }
.header .search { position: absolute; top: 60px; right: 185px; }
.header .search input   { float: left; }
.header .search .searchField    { background: url(../images/search.png) no-repeat; width: 200px; height: 30px; border: none; padding-left: 5px; }
.header .search .button         { background: url(../images/search.png) no-repeat top right; width: 24px; height: 30px; border: none; cursor: pointer; }

.home .main .content    { padding: 15px 139px; background: #eaeaea; }
.home .main .content h1 { font-weight: normal; font-size: 40px; line-height: 50px; margin: 0 11px 11px; }
.home .main .content .column    { float: left; width: 312px; margin: 0 11px; }
.home .main .content .column .image { background: white; padding: 6px; line-height: 0; }
.home .main .content .column h2     { font-size: 30px; line-height: 40px; margin: 7px 0; }
.home .main .content .column.bold p  { font-weight: bold; }
.home .main .content .column a  { color: black; }

.main .menu    { float: left; padding: 8px 0 0 7px; width: 330px; }
.main .menu a    { display: block; text-decoration: none; font-size: 22px; line-height: 26px; }

.main .menu ul > li > a    { background: #454c52; padding: 12px 15px; color: white; font-weight: bold; margin-bottom: 10px; }
.main .menu ul > li    > ul >li > a { background: none; color: #454c52; padding: 0 15px; }
.main .menu ul > li    > ul >li > ul >li > a { font-weight: normal; }

.breadcrumb ul li    { display: inline; }
.breadcrumb ul li a { color:#454c52; text-decoration: none; }

.contentpage .content    { float: left; width: 538px; padding:10px 50px 50px 40px; background: white; }
.contentpage .content h1    { font-size: 30px; line-height: 33px; }
.contentpage .content .image    { margin-bottom: 15px; }
.contentpage .content .accordeon .element    { margin-bottom: 6px; }
.contentpage .content .accordeon .title    { background: #454c52; color: white; font-size: 14px; font-weight: bold; padding: 5px 15px; }
.contentpage .content .accordeon .body  { background: #ccc; padding: 10px 15px; }

.contentpage .teaser    { float: left; width: 302px; padding: 8px 0 0 7px; }
.contentpage .teaser .image { background: white; padding: 6px; line-height: 0; }
.contentpage .teaser .accordeon .element    { margin-bottom: 6px; }
.contentpage .teaser .accordeon .title    { background:white; font-size: 14px; font-weight: bold; padding: 5px 15px; }
.contentpage .teaser .accordeon .body  { padding: 5px 0px 0; }

.contentpage .content.news  { width: 852px; }
.contentpage .content.news .breadcrumb  { float: left; }
.contentpage .content.news .browse  { float: right; }
.contentpage .content.news .browse a  { color:#454c52; text-decoration: none; }
.contentpage .content.news .newsSearch  { margin:10px 0 0; background: #454c52; color: white; padding: 6px 15px; border: 1px solid #454c52; text-align: right; }
.contentpage .content.news .newsSearch form  { margin: 0; }
.contentpage .content.news .newsSearch label    { margin: 0 5px 0 15px; }
.contentpage .content.news .newsSearch select   { background: white; width: 170px; font-size: 12px; }
.contentpage .content.news .newsElement		{ clear: both; margin-bottom: 20px; }
.contentpage .content.news .newsElement img { float: right; margin-left: 50px; }
.contentpage .content.news .newsElement h3	{ font-size: 20px; line-height: 25px; margin: 15px 0 0; }
.contentpage .content.news .newsElement h3 span	{ font-size: 14px; line-height: 25px; margin-left: 10px; }
.contentpage .content.news .newsElement h2	{ font-size: 25px; line-height: 30px; margin: 0; }
.contentpage .content.news .newsElement p	{ margin: 0; }
.contentpage .content.news .newsElement a	{ color:#454c52; text-decoration: none; font-weight: bold; }

.footer { background: url(../images/footer_bgr.png) repeat-x; padding: 10px 150px; height: 45px; }
